/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2025. 10. 28., 오후 9:00:59
    Author     : Haruki
*/
.write-actions {
    text-align: right;
    margin-bottom: 15px;
}

.btn-write {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 14px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: white;
    color: #333;
    text-decoration: none; /* 밑줄 제거 */
    font-size: 14px;
    cursor: pointer;
}

.btn-write:hover {
    background: #f4f4f4;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    table-layout: fixed; /* 컬럼 폭 고정 */
}

.board-table thead {
    background: #f1f3f5;
}

.board-table th,
.board-table td {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.board-table tr:hover {
    background: #f8f9fa;
    /*cursor: pointer;*/
}

/* 제목 */
.board-table td.title {
    text-align: left;
    color: #007bff; /* 구글 블루 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 링크 */
/* 링크 블록 영역 클릭 시, 링크로 이동 */
.row-link {
    display: block;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #007bff
}

/* 방문한 링크 */
.row-link:visited {
    color: #551A8B;          /* 브라우저 기본 보라색 계열 */
}

.empty {
    text-align: center;
    color: #777;
    padding: 20px;
}

/* 현재 게시글 active 설정 */
.board-table tr.active,
.board-table tr.active:hover {
    background-color: #f0f6ff;
}

/* 현재 게시글 링크 폰트, 굵기 */
.board-table tr.active .row-link {
    color: #333;
    font-weight: 600;
}

.board-table tr.active td
{
    font-weight: 500;
}

/* 게시글 번호 */
.board-table th:nth-child(1),
.board-table td:nth-child(1) {
    width: 60px;
}

/* 제목 (가변 영역) */
.board-table th:nth-child(2),
.board-table td:nth-child(2) {
    width: auto;   /* 남은 영역 전부 할당 */
}

/* 작성자 */
.board-table th:nth-child(3),
.board-table td:nth-child(3) {
    width: 180px;
}

/* 작성일 */
.board-table th:nth-child(4),
.board-table td:nth-child(4) {
    width: 150px;
}

/* 검색어 하이라이트 */
.highlight {
    background-color: #fff3b0;
    font-weight: 600;
}

/* ===== 페이지네이션 ===== */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
    font-size: 15px;
}

.pagination a,
.pagination span {
    padding: 4px 6px;
    text-decoration: none;
    color: var(--text-sub);
    border-radius: 4px;
}

.pagination a:hover {
    color: var(--main-color);
}

.pagination .active {
    color: #ff3b30;   /* 현재 페이지 빨간색 */
    font-weight: bold;
}

.pagination .nav {
    margin: 0;
    color: var(--text-sub);
}
