/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2025. 10. 28., 오후 7:02:38
    Author     : Haruki
*/

.post-header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.post-info {
    color: #777;
    font-size: 16px;
}

.post-info .left-info {
    margin-right: 10px;
}

.post-info .right-info {
    margin-left: 10px;
}

.post-content {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    min-height: 200px;
    margin-bottom: 30px;
    white-space: pre-line;
}

/* 본문 엔터 간격 조절 */
.post-content p {
    margin: 0;
}

.attachments img {
    max-width: 500px;
    margin: 10px 0;
    border-radius: 4px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.post-footer > div:first-child {
    margin-top: 10px;
}

.btn-danger {
    border-color: #dc3545;
    color: #dc3545;
}
.btn-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

/* 게시글 하단 버튼 간격 */
.post-footer > div:last-child {
    display: flex;
    gap: 10px;  /* 버튼 사이 간격 */
}

/* WYSIWYG 이미지 크기 제어 */
.post-content img {
    max-width: 70%;   /* container 넘지 않게 */
    height: auto;      /* 비율 유지 */
    display: block;
    border-radius: 6px;
}

/* 위지윅에서 생성된 리스트 간격 줄이기 */
.post-content ul,
.post-content ol {
    margin: 0 0 8px 20px;  /* 위 아래 간격 줄이고 좌측 들여쓰기 유지 */
    padding: 0;
}

.post-content li {
    margin: 3px 0;         /* 리스트 항목 간격 */
    line-height: 1.5;      /* 리스트 내부 높이 */
}

/* 인용문 스타일 */
.post-content blockquote {
    margin: 10px 0; /* 위아래 여백 */
    padding: 1px 15px;
    border-left: 4px solid #d0d0d0;
    background: #f9f9f9;
    color: #555;
}

/* -- view 첨부파일 legend 태그 -- */
.attachments-box {
    border: 1px solid #dcdcdc;
    padding: 12px 16px;
    margin: 40px 0 20px 0;
    border-radius: 1px;
    background-color: #fafafa;
}

.attachments-box legend {
    font-weight: bold;
    padding: 0 8px;
    font-size: 14px;
}

/* 첨부파일 링크 */
.file-item a {
    color: #2b49e3;
    text-decoration: none;
}

.file-item a:hover {
    text-decoration: underline;
}

/* 쉼표(,) 스타일 */
.attachments-box .separator {
    margin-right: 4px;
    margin-left: 2px;
    color: #666;
}

/* 이미지 강제 줄바꿈 제거 */
.post-content img + br {
    display: none;
}

