/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2025. 12. 25., 오후 4:35:38
    Author     : Haruki
*/

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: #f6f7f9;
}

.career-page {
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 40px;
}

/* 좌측 프로필*/
.left {
    position: sticky;
    top: 40px;
    height: fit-content;

    /* 카드 형태 디자인 */
    background: #fff;
    padding: 16px 22px;
    border-radius: 16px;
}

.title {
    font-size: 40px;
    font-weight: 900;
    color: #5b5cff;
    margin-top: 0;
    margin-bottom: 20px;
}

.block {
    margin-bottom: 32px;
}

.block h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 6px;
}

.intro {
    margin-top: 12px;
    line-height: 1.6;
    color: #444;
}

.carrer-row {
    margin-top: 10px;
    display: flex;
    gap: 16px;
}

/* 우측 프로필 */
.section {
    background: #fff;
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
    font-size: 14px;
}

.section h2 {
    margin-top: 0;
    border-bottom: 2px solid #eee;
    padding-bottom: 8px;
}

.row {
    margin-top: 14px;
    display: flex;
    gap: 16px;
}

.period {
    min-width: 120px;
    color: #888;
}

.project {
    margin-top: 16px;
}

.project span {
    display: block;
    color: #555;
    margin-top: 4px;
}

/* 우측 프로필 섹션 분할 */
.section-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.section-split .half h2 {
  margin-top: 0;
}
